# Table of Contents
 <p><div class="lev1"><a href="#Import-pandas,-numpy,-matplotlib-and-seaborn"><span class="toc-item-num">1&nbsp;&nbsp;</span>Import pandas, numpy, matplotlib and seaborn</a></div><div class="lev1"><a href="#Create-a-Series-object,-access-it's-index-and-cells"><span class="toc-item-num">2&nbsp;&nbsp;</span>Create a Series object, access it's index and cells</a></div><div class="lev1"><a href="#Create-a-DataFrame-object,-access-its-rows,-columns,-indices,-cells"><span class="toc-item-num">3&nbsp;&nbsp;</span>Create a DataFrame object, access its rows, columns, indices, cells</a></div><div class="lev1"><a href="#Data-Import"><span class="toc-item-num">4&nbsp;&nbsp;</span>Data Import</a></div><div class="lev1"><a href="#DataFrame-filtering"><span class="toc-item-num">5&nbsp;&nbsp;</span>DataFrame filtering</a></div><div class="lev1"><a href="#Data-export"><span class="toc-item-num">6&nbsp;&nbsp;</span>Data export</a></div><div class="lev1"><a href="#DataFrame-aggregation"><span class="toc-item-num">7&nbsp;&nbsp;</span>DataFrame aggregation</a></div><div class="lev1"><a href="#Data-Merging"><span class="toc-item-num">8&nbsp;&nbsp;</span>Data Merging</a></div>

This notebook is to quickly repeat the most basic pandas operations prior to starting the practical course.
You should be able to quickly perform the following tasks before you start working on the exercises in the Day1 notebook. If you need to look up, how certain problems can be solved, have a look at the pandas [10 Minutes Introduction](http://pandas.pydata.org/pandas-docs/stable/10min.html), the [tutorials](http://pandas.pydata.org/pandas-docs/stable/tutorials.html) and the lecture slides.

And here is a source for [Jupyter keyboard shortcuts](https://www.cheatography.com/weidadeyue/cheat-sheets/jupyter-notebook/) to help you format the notebooks in an efficient way.

# Import pandas, numpy, matplotlib and seaborn

In [1]:
# this will enable some additional autocompletion using the tab button

%config IPCompleter.greedy=True

In [5]:
import pandas as pd
import numpy as np
import matplotlib as mp 
import seaborn as sb

# Create a Series object, access it's index and cells

Create a Series object representing the following measurements

| S   |
|-----|
| 1.0 |
| 1.5 |
| 3.0 |
| 4.3 |
| 8.2 |

In [7]:
s = pd.Series([1, 1.5, 3, 4.3, 8.2])
s

0    1.0
1    1.5
2    3.0
3    4.3
4    8.2
dtype: float64

# Create a DataFrame object, access its rows, columns, indices, cells

Create a dataframe of the following table.

|index   |a |b  |c   |d          |e |
|--------|--|---|----|-----------|--|
|1       |2 |3  |5.  |horse      |13|
|2       |3 |1  |1.4 |cat        |11|
|3       |4 |9  |1.2 |dog        |  |
|4       |5 |12 |0.8 |tortoise   |  |
|5       |6 |2  |2.3 |rabbit     |9 |

Now
* access the values of each row individually
* access single cells
* print the index and column names
* access values of each column individually
* rename columns
* extract rows 2-4 as new dataframe
* obtain summary table of dataframe

In [111]:
In [10]: df2 = pd.DataFrame({'a' : [2,3,4,5,6],
                             'b' : [3,1,9,12,2],
                             'c' : [5.0, 1.4, 1.2, 0.8, 2.3],
                             'd' : pd.Categorical(['horse', 'cat', 'dog', 'tortoise', 'rabbit']),
                             'e' : [13, 11, None, None, 9]}, index=[1,2,3,4,5])
    
# each row
# iloc returns by integer value index starting from 0
# loc returns by column index e.g. 'd'
# for i in range(0, len(df2)):
#     print(df2.iloc[i])

# single cell
print(df2.iloc[2,3])
print(df2.loc[3, 'd'])

# print index and column
print(df2.index)
print(df2.columns)

# access values of each column
print(df2.loc[:,'d'])

# rename columns
df2.columns = ['z', 'y', 'x', 'w', 'v']
print(df2.columns.tolist())

# subpart of dataframe
df_new = df2.iloc[1:4]
print(df_new)

# summary table
df2.describe(percentiles=None, include=None, exclude=None)

dog
dog
Int64Index([1, 2, 3, 4, 5], dtype='int64')
Index(['a', 'b', 'c', 'd', 'e'], dtype='object')
1       horse
2         cat
3         dog
4    tortoise
5      rabbit
Name: d, dtype: category
Categories (5, object): [cat, dog, horse, rabbit, tortoise]
['z', 'y', 'x', 'w', 'v']
   z   y    x         w     v
2  3   1  1.4       cat  11.0
3  4   9  1.2       dog   NaN
4  5  12  0.8  tortoise   NaN
5  6   2  2.3    rabbit   9.0

              z          y         x     v
count  5.000000   5.000000  5.000000   3.0
mean   4.000000   5.400000  2.140000  11.0
std    1.581139   4.827007  1.690562   2.0
min    2.000000   1.000000  0.800000   9.0
25%    3.000000   2.000000  1.200000  10.0
50%    4.000000   3.000000  1.400000  11.0
75%    5.000000   9.000000  2.300000  12.0
max    6.000000  12.000000  5.000000  13.0

# Data Import

Import the following file into a dataframe _df2_:

Integrated_Bioinformatics/example_data/example_df.csv

In [115]:
df2 = pd.read_csv('../example_data/example_df.csv', header=0, sep=',', index_col=0, parse_dates=True, encoding=None, tupleize_cols=None, infer_datetime_format=False, engine='python')
print(df2)

    b    c         d     e
a
2   3  5.0     horse  13.0
3   1  1.4       cat  11.0
4   9  1.2       dog   NaN
5  12  0.8  tortoise   NaN
6   2  2.3    rabbit   9.0

Now import the following file into a pandas dataframe _df3_. Do you need to change some parameters of the funtion?
Check whether import makes sense by showing the dataframe

Integrated_Bioinformatics/example_data/example_df2.csv

In [198]:
df3 = pd.read_csv('../example_data/example_df2.csv', header=0, sep=';', index_col=0, parse_dates=True, encoding=None, tupleize_cols=None, infer_datetime_format=False, engine='python')
print(df3)

    b    c         d     e
a
2   3  5.0     horse  13.0
3   1  1.4       cat  11.0
4   9  1.2       dog   NaN
5  12  0.8  tortoise   NaN
6   2  2.3    rabbit   9.0

# DataFrame filtering
Using the dataframe created in section 3:

* select rows containing values greater than 2 in the 3rd column
* select rows that contain values greater than 2 in the 3rd column or 'cat' in the 4th column
* drop rows with missing data
* drop duplicate rows
* drop 1st column from dataframe
* sort rows by 2nd column
* convert Strings in 4th column to title-case

In [183]:
# select rows containing values greater than 2 in the 3rd column
# loc[df2['c'] returns series of true and false values which rows to take and which not
df2.loc[df2['c'] > 2]

# select rows that contain values greater than 2 in the 3rd column or 'cat' in the 4th column
df2.loc[(df2['c'] > 2) | (df2['d'] == 'cat')]

# drop rows with missing data
df2.dropna()

# drop duplicate rows
df2.drop_duplicates(subset=None, keep='first', inplace=False)

# drop 1st column from dataframe
df2.drop(df2.index[0])

# sort rows by 2nd column
df2.sort_values(by=['b'])

# convert Strings in 4th column to title-case
df2['d'].str.upper()

a
2       HORSE
3         CAT
4         DOG
5    TORTOISE
6      RABBIT
Name: d, dtype: object

In [184]:
df2.to_csv('exported.csv', header=True, index=True, sep='\t', mode='a')

# Data export

Export your filtered dataframe as a text file separated by tabs omitting the index column.

# DataFrame aggregation

Read in df4 from IntegratedBioinformatics/example_data/df4.csv

In [226]:
df4 = pd.read_csv('../example_data/df4.csv')
print(df4)
print(df4.groupby('b').count().reset_index())

         b    c         d     e
0   mammal  5.0     horse  13.0
1   mammal  1.4       cat  11.0
2   mammal  1.2       dog   NaN
3     fish  0.1  goldfish   NaN
4  reptile  2.3     snake   9.0
5     fish  1.8       koi  10.0
6     fish  0.8      carp   NaN
         b  c  d  e
0     fish  3  3  1
1   mammal  3  3  2
2  reptile  1  1  1

Using _df4_, group the data by column 'b'. Test different ways of aggregating the remaining columns as shown in the lecture.

# Data Merging

* Merge df3 with df4 on columns c, d and e. Change columns with same names in a meaningful way.

* Now perform a full outer join of the data, to keep all rows contained in either of the two dataframes.

In [227]:
print(df3)
print(df4)
pd.merge(df3, df4, on=['c', 'd', 'e'], how='inner')

    b    c         d     e
a
2   3  5.0     horse  13.0
3   1  1.4       cat  11.0
4   9  1.2       dog   NaN
5  12  0.8  tortoise   NaN
6   2  2.3    rabbit   9.0
         b    c         d     e
0   mammal  5.0     horse  13.0
1   mammal  1.4       cat  11.0
2   mammal  1.2       dog   NaN
3     fish  0.1  goldfish   NaN
4  reptile  2.3     snake   9.0
5     fish  1.8       koi  10.0
6     fish  0.8      carp   NaN

   b_x    c      d     e     b_y
0    3  5.0  horse  13.0  mammal
1    1  1.4    cat  11.0  mammal
2    9  1.2    dog   NaN  mammal

In [228]:
pd.merge(df3, df4, on=['c', 'd', 'e'], how='outer')

    b_x    c         d     e      b_y
0   3.0  5.0     horse  13.0   mammal
1   1.0  1.4       cat  11.0   mammal
2   9.0  1.2       dog   NaN   mammal
3  12.0  0.8  tortoise   NaN      NaN
4   2.0  2.3    rabbit   9.0      NaN
5   NaN  0.1  goldfish   NaN     fish
6   NaN  2.3     snake   9.0  reptile
7   NaN  1.8       koi  10.0     fish
8   NaN  0.8      carp   NaN     fish